*{
font-family: monospace;
text-align: center;

}

body {
  background-image: url("WMWEBDEV/images/blueprint_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(18, 18, 53);
  padding-left: 20px;
  padding-top: 15px;
}

nav ul {
    padding: 0;
}

p{
    color: goldenrod;
}

.heading-color {
    color: whitesmoke;
}

h1 {
    color: gold;

}

#social-media {
    color: whitesmoke;
}

span {
    color: whitesmoke;
}

#datetime {
    color: silver;
}

a[href*= 'profile'] {
    color: orange;
}

a:visited {
    color: lightblue
}

a[href*= 'home'] {
    color: orange;
}

a:hover {
    color: gold;
}
